/* banner styles */
.banner{
width: 1600px;
height: 800px;
}
.banner-sub-title{
position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
color: #151414;

}
.banner-description{
position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
margin-top:50px;
/* or 162% */
text-align: right;
color: #444343;
}
.btn-primary{
    position: absolute;
    width: 120px;
    height: 50px;
    left: 1250px;
    top: 578px;
    background: orangered;
    padding: auto;
    border-radius: 5px;
    color: aliceblue;
    border: 0;
    margin-top: 50px;
    text-align: center;
}
/* person style */
.person{
position: absolute;
width: 569px;
height: 723.3px;
left: 180px;
top: 939px;   
} 
.parson-text{
    position: absolute;
    width: 416px;
    height: 400px;
    left: 640px;
    top: 120px;
}
.person-title{
position:absolute;
font-size: 50px;
font-weight: 700;
margin-bottom:0px;
top:0;
height:400px ;
width:416 ;
}
.person-sub-title{
    font-size:18px;
   line-height: 30px;
   font-weight: 400;
    height: 400px;
    width: 416px;
    margin-top: 200px;
    font-style: normal;
}
.li-content{
    position: absolute;
    width: 400px;
    height:300px;
    top: 340px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
}
/* ata aktu pblm- my plans */
.plans-title{
    font-size: 50px;
    text-align: center;
    line-height: 40px;
    font-weight: 800;
    
}
.my-plans{
position: absolute;
width: 1141px;
height: 299.96px;
left: 200px;
top: 1792.3px;

}
.skills-container{
    display: flex;
    gap: 200px;
    text-align: center;
}
.skill{
    background: #FFFFFF;
    text-align: center;
    line-height: 25px;
}
.skill-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 25px;
}
.skill-description{
    color: rgb(54, 53, 53);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 40px;
}
/* ata imn diche */

.main-footer input{
    display: block;
    margin-right: 30px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
}
/* next project */
.call-now{
position: absolute;
width: 1140px;
height: 300px;
left: 230px;
top: 2222.26px;
background:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('images/watch.png');
border-radius: 8px;
border-radius: 8px;
}
.title{
position: absolute;
width: 459px;
height: 182px;
left: 80px;
top:40px;
font-size: 30px;
color: #FFFFFF;

}
.btn{
position: absolute;
width: 120px;
height: 50px;
left: 80px;
top: 200px;
border: 0;
border-radius: 5px;
color: #F15B22;
}
.footer-content{
position: absolute;
width: 1600px;
height: 577px;
/* top: 2600px; */
left: 0px;
top: 2652px;
background: #151414;

}
.container-main-footer{
position: absolute;
width: 485px;
height: 317px;
left: 230px;
top: 120px;
color: #f2ebeb;
line-height: 30px;
}
.main-footer{
position: absolute;
width: 325px;
height: 204px;
left: 1046px;
top: 150px;
color: #FFFFFF;
}
.subscribe{
    position: absolute;
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 150px;
}
button{
    position: absolute;
    background-color: #f5efed;
    color: #F15B22;
    height: 40px;
    width: 120px;
    font-style: normal;
    border: 0;
    border-radius: 5px;
}
    
    
    
   